.home-page-header{
    background: linear-gradient(-90deg, #C8F9E4 60%, rgba(0, 0, 0, 0) 60%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 30px;
}

.home-page-header .left{
    margin-left: 100px;
}

.home-page-header .left .top h2{
    font-size: 90px;
    font-weight: bold 700;
}

.home-page-header .left .bottom .text{
    font-size: 40px;
    padding-top: 20px;
}

.home-page-header .left .bottom .text strong{
    font-style: italic;
    color: #0E1681;
}

.home-page-header .left .bottom .buttons{
    font-size: 25px;
    padding-top: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.home-page-header .left .bottom .buttons a{
    text-decoration: none;
    letter-spacing: -1px;
}

.home-page-header .left .bottom .buttons #hire-me-btn{
    background-color: #0E1681;
    color: white;
    padding: 8px 40px 8px 40px;
    border-radius: 5px;
}

.home-page-header .left .bottom .buttons #view-resume-btn{
    color: #000000;
    padding: 5px 20px 5px 20px;
    border: 3px solid #000000;
    border-radius: 5px;
    margin-left: 50px;
}

.home-page-header .left .bottom .buttons img{
    height: 30px;
    margin-left: 10px;
}

.home-page-header .right img{
    margin-right: 100px;
    z-index: -100;
}

.projects{
    background-color: #000000;
    margin-top: -10px;
    z-index: 100;
}

.projects #page-name{
    margin-top: 30px;
    height: 80px;
}

.projects 

.about-me{}

.my-blogs{}

.contacts{}