@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    /* max-width: 2000px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.container{
    margin-left: 40px;
    margin-right: 40px;
}

nav{
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px 20px 0 40px;
    display: flex;
    /* justify-content:unset; */
    align-items: center;
    font-size: 23px;
    font-family: 'DM Sans', sans-serif;
    position: fixed;
    -webkit-backdrop-filter:blur(100px);
    backdrop-filter:blur(100px);
    border-bottom: .01px solid #D4D4D4;
    z-index: 100;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 630px;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.nav-underline-animation {
    display: inline-block;
    position: relative;
    color: #0E1681;
}

.nav-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #0E1681;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.nav-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

nav #contact-nav-btn{
    background-color: #0E1681;
    color: #FFFFFF;
    padding: 4px 15px 4px 15px;
    border-radius: 8px;
}

nav #resume-nav-btn{
    padding: 4px 15px 4px 15px;
    border: 2px solid #000000;
    border-radius: 8px;
}

footer{
    background-color: #000000;
    color: #FFFFFF;
    padding: 50px 100px 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .left #footer-head{
    font-size: 50px;
}

footer .left .left-bottom{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
}

footer img{
    padding-left: 25px;
    height: 35px;
}

footer .right ul{
    list-style: none;    
    font-size: 25px;
}

footer .right ul a{
    text-decoration: none;
    color: #FFFFFF;
}

footer .right ul a:hover{
    color: #C8F9E4;
    text-decoration: underline;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #C8F9E4;
}

.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #C8F9E4;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}

footer .right ul li{
    padding-top: 20px;
}